.chat
  = render partial: 'layouts/sidebar', locals: { groups: @groups }

  .chat-main
    .chat-top
      .chat-top--left
        %h2
        = @group.name
        %p.chat-top__users
          Members:
          = render @group.users
      = link_to 'Edit', edit_group_path(@group), class: 'chat-top__edit-btn'

    .chat-context
      %ul.chat-messages
      = render @messages

    .chat-footer
      = form_for [@group, @message], html: {id: "new-message"} do |f|
        .chat-footer__body
          = f.text_field :text, placeholder: 'type a message', class: 'chat-footer__body__textarea', id: 'message_body'
          %label.chat-footer__body__file
            = f.file_field :image
            %i.fa.fa-image
        = f.submit :Send, class: 'chat-group-form__action-btn'
